.container {
  margin: auto;
  max-width: 500px;
  font-family: sans-serif;
  color: #313131;
}

.site-title {
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  margin: 2rem 0;
}

.heading {
  background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgb(0, 213, 255) 100%);
  text-align: center;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: #313131;
}